*{
	box-sizing: border-box;
}
/*index*/
.bg{
	background-image: url(../img/resize-img.jpg);
	top: 0;
	left: 0;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 100vh;
	position: relative;
}
.btns{
	width: 100%;
	position: absolute;
	bottom: 70px;
}
.btnCta{
	color:#fff;
	background-color: #46A08A;
	border:transparent;
}
.next{
	position: absolute;
	bottom: 0;
	width: 100%;
}
.nextt{
	background-color: #46A08A;
	display: inline-block;
	width: 100%;
	padding:20px;
	color: #fff;
	text-decoration: none;
	font-size: 20px;
}
.form-control:focus {
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	border-color:#ccc;
	outline: 0;
}
.btn-primary {
	border: 1px white;
	background-color: #46a08a;
}
.btn-primary:focus{
	border: 1px white;
	background-color: #46a08a;
}
.btn-primary:active{
	border: 1px white;
	background-color: #46a08a;
}
.btn-primary:hover{
	border: 1px white;
	background-color: #46a08a;
}
.btn-primary:visited{
	border: 1px white;
	background-color: #46a08a;
}
.btn-primary:active:hover, .btn-primary.active:hover, .open > .dropdown-toggle.btn-primary:hover, .btn-primary:active:focus, .btn-primary.active:focus, .open > .dropdown-toggle.btn-primary:focus, .btn-primary:active.focus, .btn-primary.active.focus, .open > .dropdown-toggle.btn-primary.focus {
	background-color: #46a08a;
	border-color: 1px white;
}
.mt{
	margin: 10% 0;
}

.m-46{
	margin-top: 46%;
}
/*buscador*/
.foto-perfil{
	width: 80%;
	height: auto;
	border-radius: 50%;
	margin: 16px auto 0 auto;
}
.foto-perfil img{
	width: 100%;
	height: auto;
	border-radius: 50%;
}
.buscador{
	margin: 8% 0 0 0;
}
.cancion-sugerencia{
	width: 100%;
	height: 70px;
	margin-bottom: 15px;
	background-color: black;
}
.none{
	display: none;
}

.absolute{
	background-color: rgba(0,0,0,.6);
	z-index: 3;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	position: absolute;
}
#menu{
	position: absolute;
	top: 0;
	bottom: 0px;
	right: 40%;
	left: 0;
	background-color: white;
	z-index: 3;
}

/*-- Search --*/
#search-form, .form-control {
	margin-bottom: 20px;
}

.cover {
	width: 130px;
	height: 130px;
	display: inline-block;
	background-size: cover;
}

.cover:hover {
	cursor: pointer;
}

.cover.playing {
	border: 5px solid #46A08A;
}
.titulo-sugerencias{
	margin: 10px 0 15px 0;
}
.row-resultados{
	margin-top: 5px;
}
